*.tmp
*.bak
*.DS_Store
#catalog-v001.xml
src/ontology/mirror
src/ontology/imports/bccdc_import.owl
src/ontology/tmp/*
src/ontology/reports/*
src/ontology/target/*

src/ontology/genepio-base.obo
src/ontology/genepio-base.owl
src/ontology/genepio-full.obo
src/ontology/genepio-full.owl
src/ontology/genepio-simple.obo
src/ontology/genepio-simple.owl
src/ontology/genepio.obo
src/ontology/genepio.owl
