src/ontology/mirror
*.tmp
catalog-v001.xml
*.bak
src/ontology/imports/bccdc_import.owl
src/ontology/tmp/genepio-preprocess.owl
src/ontology/tmp/merged-genepio-edit.owl
src/ontology/tmp/ontologyterms.txt
src/ontology/tmp/pre_seed.txt
src/ontology/tmp/seed.txt
src/ontology/tmp/simple_seed.txt
src/ontology/tmp/validate.ofn
src/ontology/tmp/mirror-chebi.owl
src/ontology/tmp/mirror-obi.owl
src/ontology/tmp/mirror-ro.owl
src/ontology/reports/genepio-edit.owl-obo-report.tsv
src/ontology/reports/iri-range-violation.csv
src/ontology/reports/validate_profile_owl2dl_genepio.owl.txt
src/ontology/genepio-full.obo
src/ontology/genepio-full.obo
src/ontology/genepio-base.owl
src/ontology/genepio-base.obo
src/ontology/genepio-simple.obo
src/ontology/genepio-simple.owl
src/ontology/genepio.obo
src/ontology/genepio.owl
