input[required], select[required],div.required {border-left:3px solid orange;}
input.is-invalid-input, select.is-invalid-input {border-left:3px solid red;}

form > .callout {border:0;}
.callout {padding-left:1.5rem;}
.callout > .callout {    border-right: 0px; border-bottom: 0px; border-left:1px dotted silver; border-top:0px;
	padding-right:0;}
div.callout.footer {background-color:#2199e8;color:white}
div.callout.footer a:link {color:lightblue}
div.callout.footer a:visited {color:lightblue}
div.callout.footer a:hover {color:navy}
button.fi-shopping-cart.medium {color:green;font-size:1.5rem;}
button.fi-shopping-cart:hover {color:lightgreen;}
li.shoppingCart {}
.has_tip {border-bottom:0;}